body {
  margin: 0;
}

.book {
  width: 100%;
  height: 100vh;
  display: flex;
}

.page_left {
  width: 50%;
  min-height: 100%;
  padding: 100px;
  border-right: 1px solid black;
}

.page_right {
  width: 50%;
  min-height: 100%;
  padding: 100px;
  display: grid;
  grid-column: 2;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 1rem;
}

.title_left {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 105px;
    line-height: 0.85;
    letter-spacing: -0.04em;
    margin: 0;
    margin-bottom: 0.3em;
}

.title_right {
    font-size: 105px;
}

.title_left:hover {
    color: red;
}

.paragraph1 {
   column-count: 2;
   column-gap: 20px;
}
.paragraph1 {
    font-size: 3.4em;
    font-weight: bold;
    float: left;
    line-height: 1;
    margin-right: 0.2em;
}

.paragraph2 {
    font-family: Courier, monospace;
    font-size: 14px;
    line-height: 1;
    margin-left: 3em;
    border-left: 2px solid black;
    padding-left: 0.5em;
}

.highlights {
    background-color: red;
    color: white;
    font-weight: bold;
}